<div class="container">
    
    <h2>Hello, I'm Kakyo, and i'm a factorio addict :D</h2>
    <p>It always bother me that several calculators out there did happen to include the calculations for modules usage - which is a big part of the game.</p>
    <p>So i take the torch myself and start this little app.</p>
    <br/><br/>
    <p>There are still a few big features to support (like mod recipes) but i believe that as a first version this is good enough and I can start to receive some feedback from this.</p>
    <p>Without further ado, <a href="#calculator">let's start the fun.</a></p>
    <br/><br/>
    <p>You can also see more <a href="#about">about the project here</a>, which includes the github page, known issues and feature wishlist.</p>
</div>
