<div class="input-group" data-bind="attr:{ title:tooltip }">
    <!-- ko if:hasOptions -->
    <span class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"></button>
        <div class="dropdown-menu" data-bind="foreach:optionsAvailable">
          <span class="dropdown-item" data-bind="attr:{ value:id }, html: name, click:$parent.setOption.bind($parent)"></span>
        </div>
    </span>
    <!-- /ko -->
    <span class="input-group-addon">
        <span class="factorio-icons" data-bind="css:getIconName()"></span>
        <!-- ko if:displayName -->
        <span data-bind="text:displayName"></span>
        <!-- /ko -->
    </span>
    <!-- ko if:hasValue -->
    <!-- ko if:readonly -->
    <input class="form-control readonly" readonly data-bind="value:value, attr: { 'type': type }">
    <!-- /ko -->
    <!-- ko if:!readonly -->
    <input class="form-control" data-bind="value:value, attr: { 'type': type }" min=0>
    <!-- /ko -->
    <!-- /ko -->
</div>