/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:775d9743245856e56b53261caf5277aa:903f0f4aad6811e12e37619cfccb489b:a80c321e5c517750dfaa3faf843de252$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.factorio-icons {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(factorio-icons.png);}

.factorio-accumulator {width:16px; height:16px; background-position: -16px -1217px}
.factorio-advanced-circuit {width:16px; height:16px; background-position: -0px -1233px}
.factorio-advanced-oil-processing {width:16px; height:16px; background-position: -0px -1249px}
.factorio-alien-artifact-goo {width:16px; height:16px; background-position: -16px -1265px}
.factorio-arithmetic-combinator {width:16px; height:16px; background-position: -16px -1249px}
.factorio-assembling-machine-1 {width:16px; height:16px; background-position: -0px -1265px}
.factorio-assembling-machine-2 {width:16px; height:16px; background-position: -16px -1233px}
.factorio-assembling-machine-3 {width:16px; height:16px; background-position: -0px -1217px}
.factorio-atomic-bomb {width:16px; height:16px; background-position: -0px -1169px}
.factorio-barrel-empty {width:16px; height:16px; background-position: -16px -1185px}
.factorio-barrel-empty-side-mask {width:16px; height:16px; background-position: -0px -1185px}
.factorio-barrel-empty-top-mask {width:16px; height:16px; background-position: -16px -1201px}
.factorio-barrel-fill {width:16px; height:16px; background-position: -0px -1297px}
.factorio-barrel-fill-side-mask {width:16px; height:16px; background-position: -0px -1201px}
.factorio-barrel-fill-top-mask {width:16px; height:16px; background-position: -0px -1281px}
.factorio-barrel-hoop-top-mask {width:16px; height:16px; background-position: -0px -1345px}
.factorio-barrel-side-mask {width:16px; height:16px; background-position: -16px -1345px}
.factorio-basic-oil-processing {width:16px; height:16px; background-position: -16px -1361px}
.factorio-battery {width:16px; height:16px; background-position: -16px -1377px}
.factorio-battery-equipment {width:16px; height:16px; background-position: -0px -1393px}
.factorio-battery-mk2-equipment {width:16px; height:16px; background-position: -0px -1377px}
.factorio-beacon {width:16px; height:16px; background-position: -0px -1361px}
.factorio-belt-immunity-equipment {width:16px; height:16px; background-position: -16px -1329px}
.factorio-big-electric-pole {width:16px; height:16px; background-position: -16px -1281px}
.factorio-blueprint {width:16px; height:16px; background-position: -0px -1329px}
.factorio-blueprint-book {width:16px; height:16px; background-position: -16px -1297px}
.factorio-boiler {width:16px; height:16px; background-position: -0px -1313px}
.factorio-burner-inserter {width:16px; height:16px; background-position: -16px -1313px}
.factorio-burner-mining-drill {width:16px; height:16px; background-position: -16px -1169px}
.factorio-cannon-shell {width:16px; height:16px; background-position: -16px -1153px}
.factorio-car {width:16px; height:16px; background-position: -0px -993px}
.factorio-cargo-wagon {width:16px; height:16px; background-position: -0px -1009px}
.factorio-centrifuge {width:16px; height:16px; background-position: -16px -1025px}
.factorio-chemical-plant {width:16px; height:16px; background-position: -16px -1009px}
.factorio-cluster-grenade {width:16px; height:16px; background-position: -0px -1025px}
.factorio-coal {width:16px; height:16px; background-position: -16px -929px}
.factorio-coal-dark-background {width:16px; height:16px; background-position: -16px -993px}
.factorio-coal-liquefaction {width:16px; height:16px; background-position: -16px -977px}
.factorio-combat-shotgun {width:16px; height:16px; background-position: -16px -945px}
.factorio-computer {width:16px; height:16px; background-position: -0px -977px}
.factorio-concrete {width:16px; height:16px; background-position: -0px -961px}
.factorio-constant-combinator {width:16px; height:16px; background-position: -16px -961px}
.factorio-construction-robot {width:16px; height:16px; background-position: -0px -1041px}
.factorio-copper-cable {width:16px; height:16px; background-position: -0px -1057px}
.factorio-copper-ore {width:16px; height:16px; background-position: -0px -1105px}
.factorio-copper-plate {width:16px; height:16px; background-position: -16px -1105px}
.factorio-crude-oil {width:16px; height:16px; background-position: -16px -1121px}
.factorio-curved-rail {width:16px; height:16px; background-position: -0px -1153px}
.factorio-decider-combinator {width:16px; height:16px; background-position: -0px -1137px}
.factorio-deconstruction-planner {width:16px; height:16px; background-position: -16px -1137px}
.factorio-defender {width:16px; height:16px; background-position: -16px -1089px}
.factorio-defender-capsule {width:16px; height:16px; background-position: -0px -1121px}
.factorio-destroyer {width:16px; height:16px; background-position: -16px -1057px}
.factorio-destroyer-capsule {width:16px; height:16px; background-position: -16px -1041px}
.factorio-diesel-locomotive {width:16px; height:16px; background-position: -0px -1089px}
.factorio-discharge-defense-equipment {width:16px; height:16px; background-position: -0px -1073px}
.factorio-distractor {width:16px; height:16px; background-position: -16px -1393px}
.factorio-distractor-capsule {width:16px; height:16px; background-position: -16px -1073px}
.factorio-dry-hairy-tree {width:16px; height:16px; background-position: -16px -1457px}
.factorio-effectivity-module {width:16px; height:16px; background-position: -0px -1713px}
.factorio-effectivity-module-2 {width:16px; height:16px; background-position: -16px -1681px}
.factorio-effectivity-module-3 {width:16px; height:16px; background-position: -0px -1697px}
.factorio-electric-engine-unit {width:16px; height:16px; background-position: -16px -1729px}
.factorio-electric-furnace {width:16px; height:16px; background-position: -16px -1713px}
.factorio-electric-mining-drill {width:16px; height:16px; background-position: -0px -1729px}
.factorio-electronic-circuit {width:16px; height:16px; background-position: -16px -1697px}
.factorio-empty-barrel {width:16px; height:16px; background-position: -0px -1681px}
.factorio-energy-shield-equipment {width:16px; height:16px; background-position: -0px -1633px}
.factorio-energy-shield-mk2-equipment {width:16px; height:16px; background-position: -0px -1649px}
.factorio-engine-unit {width:16px; height:16px; background-position: -16px -1665px}
.factorio-exoskeleton-equipment {width:16px; height:16px; background-position: -16px -1649px}
.factorio-explosive-cannon-shell {width:16px; height:16px; background-position: -0px -1745px}
.factorio-explosive-rocket {width:16px; height:16px; background-position: -16px -1633px}
.factorio-explosive-uranium-cannon-shell {width:16px; height:16px; background-position: -0px -1761px}
.factorio-explosives {width:16px; height:16px; background-position: -0px -1809px}
.factorio-express-loader {width:16px; height:16px; background-position: -16px -1809px}
.factorio-express-splitter {width:16px; height:16px; background-position: -16px -1825px}
.factorio-express-transport-belt {width:16px; height:16px; background-position: -16px -1841px}
.factorio-express-underground-belt {width:16px; height:16px; background-position: -0px -1841px}
.factorio-fast-inserter {width:16px; height:16px; background-position: -0px -1825px}
.factorio-fast-loader {width:16px; height:16px; background-position: -16px -1793px}
.factorio-fast-splitter {width:16px; height:16px; background-position: -16px -1745px}
.factorio-fast-transport-belt {width:16px; height:16px; background-position: -16px -1761px}
.factorio-fast-underground-belt {width:16px; height:16px; background-position: -0px -1793px}
.factorio-filter-inserter {width:16px; height:16px; background-position: -0px -1777px}
.factorio-firearm-magazine {width:16px; height:16px; background-position: -16px -1777px}
.factorio-fish {width:16px; height:16px; background-position: -0px -1665px}
.factorio-flamethrower {width:16px; height:16px; background-position: -16px -1473px}
.factorio-flamethrower-ammo {width:16px; height:16px; background-position: -16px -1409px}
.factorio-flamethrower-turret {width:16px; height:16px; background-position: -16px -1617px}
.factorio-fluid-wagon {width:16px; height:16px; background-position: -0px -1505px}
.factorio-flying-robot-frame {width:19px; height:17px; background-position: -0px -1873px}
.factorio-fusion-reactor-equipment {width:16px; height:16px; background-position: -0px -1489px}
.factorio-gate {width:16px; height:16px; background-position: -16px -1489px}
.factorio-green-wire {width:16px; height:16px; background-position: -0px -1473px}
.factorio-grenade {width:16px; height:16px; background-position: -0px -1457px}
.factorio-gun-turret {width:16px; height:16px; background-position: -0px -1409px}
.factorio-hazard-concrete {width:16px; height:16px; background-position: -0px -1425px}
.factorio-heat-boiler {width:16px; height:16px; background-position: -16px -1441px}
.factorio-heat-pipe {width:16px; height:16px; background-position: -16px -1425px}
.factorio-heavy-armor {width:16px; height:16px; background-position: -0px -1441px}
.factorio-heavy-oil {width:16px; height:16px; background-position: -16px -1521px}
.factorio-heavy-oil-cracking {width:16px; height:16px; background-position: -16px -1505px}
.factorio-high-tech-science-pack {width:16px; height:16px; background-position: -16px -1569px}
.factorio-inserter {width:16px; height:16px; background-position: -16px -1585px}
.factorio-iron-axe {width:16px; height:16px; background-position: -0px -1617px}
.factorio-iron-chest {width:17px; height:16px; background-position: -0px -1857px}
.factorio-iron-gear-wheel {width:16px; height:16px; background-position: -0px -1601px}
.factorio-iron-ore {width:16px; height:16px; background-position: -16px -1601px}
.factorio-iron-plate {width:16px; height:16px; background-position: -0px -1585px}
.factorio-iron-stick {width:16px; height:16px; background-position: -0px -1569px}
.factorio-kovarex-enrichment-process {width:16px; height:16px; background-position: -0px -1521px}
.factorio-lab {width:16px; height:16px; background-position: -0px -1537px}
.factorio-land-mine {width:16px; height:16px; background-position: -16px -1553px}
.factorio-landfill {width:16px; height:16px; background-position: -16px -1537px}
.factorio-laser-turret {width:16px; height:16px; background-position: -0px -1553px}
.factorio-light-armor {width:16px; height:16px; background-position: -0px -945px}
.factorio-light-oil {width:16px; height:16px; background-position: -0px -289px}
.factorio-light-oil-cracking {width:16px; height:16px; background-position: -0px -929px}
.factorio-loader {width:16px; height:16px; background-position: -0px -305px}
.factorio-logistic-chest-active-provider {width:16px; height:16px; background-position: -16px -321px}
.factorio-logistic-chest-passive-provider {width:16px; height:16px; background-position: -16px -305px}
.factorio-logistic-chest-requester {width:16px; height:16px; background-position: -0px -321px}
.factorio-logistic-chest-storage {width:16px; height:16px; background-position: -16px -289px}
.factorio-logistic-robot {width:16px; height:16px; background-position: -16px -273px}
.factorio-long-handed-inserter {width:16px; height:16px; background-position: -16px -225px}
.factorio-lubricant {width:16px; height:16px; background-position: -16px -241px}
.factorio-market {width:16px; height:16px; background-position: -0px -273px}
.factorio-medium-biter {width:16px; height:16px; background-position: -16px -257px}
.factorio-medium-biter-corpse {width:16px; height:16px; background-position: -0px -257px}
.factorio-medium-electric-pole {width:16px; height:16px; background-position: -0px -337px}
.factorio-medium-spitter {width:16px; height:16px; background-position: -0px -353px}
.factorio-medium-worm {width:16px; height:16px; background-position: -16px -401px}
.factorio-medium-worm-corpse {width:16px; height:16px; background-position: -0px -401px}
.factorio-military-science-pack {width:16px; height:16px; background-position: -16px -417px}
.factorio-modular-armor {width:16px; height:16px; background-position: -0px -449px}
.factorio-night-vision-equipment {width:16px; height:16px; background-position: -0px -433px}
.factorio-nuclear-fuel-reprocessing {width:16px; height:16px; background-position: -16px -433px}
.factorio-nuclear-reactor {width:16px; height:16px; background-position: -0px -417px}
.factorio-offshore-pump {width:16px; height:16px; background-position: -16px -385px}
.factorio-oil-refinery {width:16px; height:16px; background-position: -16px -337px}
.factorio-personal-laser-defense-equipment {width:16px; height:16px; background-position: -16px -353px}
.factorio-personal-roboport-equipment {width:16px; height:16px; background-position: -0px -385px}
.factorio-personal-roboport-mk2-equipment {width:16px; height:16px; background-position: -0px -369px}
.factorio-petroleum-gas {width:16px; height:16px; background-position: -16px -369px}
.factorio-piercing-rounds-magazine {width:16px; height:16px; background-position: -0px -241px}
.factorio-piercing-shotgun-shell {width:16px; height:16px; background-position: -0px -225px}
.factorio-pipe {width:16px; height:16px; background-position: -16px -65px}
.factorio-pipe-to-ground {width:16px; height:16px; background-position: -16px -49px}
.factorio-pistol {width:16px; height:16px; background-position: -0px -97px}
.factorio-plastic-bar {width:16px; height:16px; background-position: -0px -81px}
.factorio-poison-capsule {width:16px; height:16px; background-position: -16px -81px}
.factorio-power-armor {width:16px; height:16px; background-position: -0px -49px}
.factorio-power-armor-mk2 {width:16px; height:16px; background-position: -0px -65px}
.factorio-power-switch {width:16px; height:16px; background-position: -0px -0px}
.factorio-processing-unit {width:16px; height:16px; background-position: -0px -17px}
.factorio-production-science-pack {width:16px; height:16px; background-position: -16px -33px}
.factorio-productivity-module {width:16px; height:16px; background-position: -16px -97px}
.factorio-productivity-module-2 {width:16px; height:16px; background-position: -16px -17px}
.factorio-productivity-module-3 {width:16px; height:16px; background-position: -0px -33px}
.factorio-programmable-speaker {width:16px; height:16px; background-position: -16px -113px}
.factorio-pump {width:16px; height:16px; background-position: -16px -161px}
.factorio-pumpjack {width:16px; height:16px; background-position: -0px -177px}
.factorio-radar {width:16px; height:16px; background-position: -0px -193px}
.factorio-rail {width:16px; height:16px; background-position: -0px -209px}
.factorio-rail-chain-signal {width:16px; height:16px; background-position: -16px -209px}
.factorio-rail-signal {width:16px; height:16px; background-position: -16px -193px}
.factorio-railgun {width:16px; height:16px; background-position: -0px -161px}
.factorio-railgun-ammo {width:16px; height:16px; background-position: -16px -177px}
.factorio-raw-wood {width:16px; height:16px; background-position: -0px -113px}
.factorio-red-wire {width:16px; height:16px; background-position: -0px -129px}
.factorio-repair-pack {width:16px; height:16px; background-position: -16px -145px}
.factorio-roboport {width:16px; height:16px; background-position: -16px -129px}
.factorio-rocket {width:16px; height:16px; background-position: -0px -801px}
.factorio-rocket-control-unit {width:16px; height:16px; background-position: -0px -145px}
.factorio-rocket-fuel {width:16px; height:16px; background-position: -16px -449px}
.factorio-rocket-launcher {width:16px; height:16px; background-position: -16px -465px}
.factorio-rocket-part {width:16px; height:16px; background-position: -0px -753px}
.factorio-rocket-silo {width:16px; height:16px; background-position: -16px -753px}
.factorio-rocket-structure {width:16px; height:16px; background-position: -16px -769px}
.factorio-satellite {width:16px; height:16px; background-position: -0px -785px}
.factorio-science-pack-1 {width:16px; height:16px; background-position: -16px -785px}
.factorio-science-pack-2 {width:16px; height:16px; background-position: -0px -769px}
.factorio-science-pack-3 {width:16px; height:16px; background-position: -16px -737px}
.factorio-shotgun {width:16px; height:16px; background-position: -16px -705px}
.factorio-shotgun-shell {width:16px; height:16px; background-position: -16px -689px}
.factorio-slowdown-capsule {width:16px; height:16px; background-position: -0px -737px}
.factorio-small-electric-pole {width:16px; height:16px; background-position: -0px -721px}
.factorio-small-lamp {width:16px; height:16px; background-position: -16px -721px}
.factorio-solar-panel {width:16px; height:16px; background-position: -16px -817px}
.factorio-solar-panel-equipment {width:16px; height:16px; background-position: -16px -801px}
.factorio-solid-fuel {width:16px; height:16px; background-position: -16px -913px}
.factorio-solid-fuel-from-heavy-oil {width:16px; height:16px; background-position: -16px -865px}
.factorio-solid-fuel-from-light-oil {width:16px; height:16px; background-position: -0px -881px}
.factorio-solid-fuel-from-petroleum-gas {width:16px; height:16px; background-position: -0px -897px}
.factorio-space-science-pack {width:16px; height:16px; background-position: -16px -897px}
.factorio-speed-module {width:16px; height:16px; background-position: -0px -865px}
.factorio-speed-module-2 {width:16px; height:16px; background-position: -0px -913px}
.factorio-speed-module-3 {width:16px; height:16px; background-position: -16px -881px}
.factorio-splitter {width:16px; height:16px; background-position: -0px -817px}
.factorio-stack-filter-inserter {width:16px; height:16px; background-position: -0px -833px}
.factorio-stack-inserter {width:16px; height:16px; background-position: -16px -849px}
.factorio-steam {width:16px; height:16px; background-position: -0px -705px}
.factorio-steam-engine {width:16px; height:16px; background-position: -16px -833px}
.factorio-steam-turbine {width:16px; height:16px; background-position: -0px -849px}
.factorio-steel-axe {width:16px; height:16px; background-position: -0px -689px}
.factorio-steel-chest {width:16px; height:16px; background-position: -16px -513px}
.factorio-steel-furnace {width:16px; height:16px; background-position: -16px -529px}
.factorio-steel-plate {width:16px; height:16px; background-position: -0px -561px}
.factorio-stone {width:16px; height:16px; background-position: -0px -513px}
.factorio-stone-brick {width:16px; height:16px; background-position: -0px -545px}
.factorio-stone-furnace {width:16px; height:16px; background-position: -16px -545px}
.factorio-stone-wall {width:16px; height:16px; background-position: -0px -529px}
.factorio-storage-tank {width:16px; height:16px; background-position: -0px -465px}
.factorio-submachine-gun {width:16px; height:16px; background-position: -0px -481px}
.factorio-substation {width:16px; height:16px; background-position: -16px -497px}
.factorio-sulfur {width:16px; height:16px; background-position: -16px -481px}
.factorio-sulfuric-acid {width:16px; height:16px; background-position: -0px -497px}
.factorio-tank {width:16px; height:16px; background-position: -16px -577px}
.factorio-tank-cannon {width:16px; height:16px; background-position: -16px -561px}
.factorio-train-stop {width:16px; height:16px; background-position: -16px -625px}
.factorio-transport-belt {width:16px; height:16px; background-position: -0px -641px}
.factorio-underground-belt {width:16px; height:16px; background-position: -0px -657px}
.factorio-uranium-235 {width:16px; height:16px; background-position: -16px -673px}
.factorio-uranium-238 {width:16px; height:16px; background-position: -16px -657px}
.factorio-uranium-cannon-shell {width:16px; height:16px; background-position: -0px -673px}
.factorio-uranium-fuel-cell {width:16px; height:16px; background-position: -16px -641px}
.factorio-uranium-ore {width:16px; height:16px; background-position: -0px -625px}
.factorio-uranium-processing {width:16px; height:16px; background-position: -0px -577px}
.factorio-uranium-rounds-magazine {width:16px; height:16px; background-position: -0px -593px}
.factorio-used-up-uranium-fuel-cell {width:16px; height:16px; background-position: -16px -609px}
.factorio-water {width:16px; height:16px; background-position: -16px -593px}
.factorio-wood {width:16px; height:16px; background-position: -0px -609px}
.factorio-wooden-chest {width:16px; height:17px; background-position: -16px -0px}
