<div class="row">
    <div class="col-sm-4">
        <label class="form-control-label" data-bind="text:speedLabel"></label>
        <div class="input-group" title="Speed">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-forward"></span>
            </span>
            <input type="text" class="form-control readonly" readonly data-bind="value:speed">
        </div>
    </div>

    <div class="col-sm-4">
        <label class="form-control-label" data-bind="text:pollutionLabel"></label>
        <div class="input-group" title="Pollution">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-cloud"></span>
            </span>
            <input type="text" class="form-control readonly" readonly data-bind="value:pollution">
        </div>
    </div>

    <div class="col-sm-4">
        <label class="form-control-label" data-bind="text:energyLabel"></label>
        <div class="input-group" title="Energy">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-flash"></span>
            </span>
            <input type="text" class="form-control readonly" readonly data-bind="value:energy">
        </div>
    </div>
</div>