<div class="row">
    <label class="col-sm-12 form-control-label">Modules</label>

    <div class="col-sm-4">
        <label class="form-control-label">Speed</label>
        <div class="row">
            <item-icon params="id: 'speed-module'  , value:selectedModules.speed.level1, type:'number'" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'speed-module-2', value:selectedModules.speed.level2, type:'number'" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'speed-module-3', value:selectedModules.speed.level3, type:'number'" class="col-sm-12 form-group"></item-icon>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="form-control-label">Production</label>
        <div class="row">
            <item-icon params="id: 'productivity-module'  , value:selectedModules.production.level1, type:'number', enabled:enableProductivity" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'productivity-module-2', value:selectedModules.production.level2, type:'number', enabled:enableProductivity" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'productivity-module-3', value:selectedModules.production.level3, type:'number', enabled:enableProductivity" class="col-sm-12 form-group"></item-icon>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="form-control-label">Efficiency</label>
        <div class="row">
            <item-icon params="id: 'effectivity-module'  , value:selectedModules.efficiency.level1, type:'number'" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'effectivity-module-2', value:selectedModules.efficiency.level2, type:'number'" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'effectivity-module-3', value:selectedModules.efficiency.level3, type:'number'" class="col-sm-12 form-group"></item-icon>
        </div>
    </div>
</div>