<div class="row" data-bind="with:selectedModules">
    <label class="col-sm-12 form-control-label">Modules</label>

    <div class="col-sm-4">
        <label class="form-control-label">Speed</label>
        <div class="row">
            <item-icon params="id: 'speed-module'  , value:speed.level1, type:'number'" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'speed-module-2', value:speed.level2, type:'number'" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'speed-module-3', value:speed.level3, type:'number'" class="col-sm-12 form-group"></item-icon>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="form-control-label">Production</label>
        <div class="row">
            <item-icon params="id: 'productivity-module'  , value:production.level1, type:'number', enabled:$parent.enableProductivity" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'productivity-module-2', value:production.level2, type:'number', enabled:$parent.enableProductivity" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'productivity-module-3', value:production.level3, type:'number', enabled:$parent.enableProductivity" class="col-sm-12 form-group"></item-icon>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="form-control-label">Efficiency</label>
        <div class="row">
            <item-icon params="id: 'effectivity-module'  , value:efficiency.level1, type:'number'" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'effectivity-module-2', value:efficiency.level2, type:'number'" class="col-sm-12 form-group"></item-icon>
            <item-icon params="id: 'effectivity-module-3', value:efficiency.level3, type:'number'" class="col-sm-12 form-group"></item-icon>
        </div>
    </div>
</div>